<h3>Détails du devoir</h3>
<br/>
<div class="row">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header card-header-primary">
          <h4 class="card-title">Devoir de {{devoir.matiere.nom}}</h4>
          <p *ngIf="devoir.rendu" class="card-category">Devoir rendu le {{devoir.dateDeRendu | date:'dd/MM/YYYY'}}</p>
          <p *ngIf="!devoir.rendu" class="card-category">Devoir non rendu</p>
        </div>
        <div class="card-body">
          <form ngForm >
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label class="bmd-label-floating">Nom du devoir</label>
                  <input type="text" class="form-control" [(ngModel)]="nomDevoir" name="nomDevoir">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label class="bmd-label-floating">Elève</label>
                  <select id="idEleve" class="form-control selectRna" (change)="changementEleve($event.target.value)">
                    <ng-container *ngFor="let eleve of eleves">
                      <option *ngIf="eleve._id == devoir.auteur._id" selected="selected" value="{{eleve._id}}">{{eleve.nom}}</option>
                      <option *ngIf="eleve._id != devoir.auteur._id" value="{{eleve._id}}">{{eleve.nom}}</option>
                    </ng-container>
                  </select>
                </div>
              </div>
              <div class="col-md-5">
                <div class="form-group">
                  <label class="bmd-label-floating">email de l'élève</label>
                  <input disabled type="text" class="form-control" [(ngModel)]="mail" name="mail">
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label class="bmd-label-floating">Date de naissance</label>
                  <input disabled type="text" class="form-control" [(ngModel)]="dateNaissance" name="dateNaissance">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="bmd-label-floating">Matière</label>
                  <select id="idMatiere" class="form-control selectRna" (change)="changementMatiere($event.target.value)">
                    <ng-container *ngFor="let matiere of matieres">
                      <option *ngIf="matiere._id == devoir.matiere._id" selected="selected" value="{{matiere._id}}">{{matiere.nom}}</option>
                      <option *ngIf="matiere._id != devoir.matiere._id" value="{{matiere._id}}">{{matiere.nom}}</option>
                    </ng-container>
                  </select>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="bmd-label-floating">Professeur</label>
                  <input disabled type="text" class="form-control" [(ngModel)]="professeur" name="professeur">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label class="bmd-label-floating">Remarque</label>
                  <input type="text" class="form-control" [(ngModel)]="remarque" name="remarque">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label class="bmd-label-floating">Note sur 20</label>
                  <input type="text" class="form-control" [(ngModel)]="noteTxt" name="noteTxt" (keyup)="mentionEleve($event)"/>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label class="bmd-label-floating">Mention</label>
                  <input disabled type="text" class="form-control" value="{{mention}}">
                </div>
              </div>
            </div>
            <br/>
            <button (click)="modifierDevoir($event)" class="btn btn-primary pull-right">Modifier</button>
            <button (click)="retour()" class="btn btn-outline-secondary pull-right">Retour</button>
            <div class="clearfix"></div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <h3>Elève</h3>  
      <div class="card card-profile">
        <div class="card-avatar">
          <a href="javascript:;">
            <img class="img" src="../assets/img/faces/{{photoEleve}}" />
          </a>
        </div>
          <div class="card-body">
          <h6 class="card-category text-gray">{{nomEleve}}</h6>
          <h4 class="card-title">{{mail}}</h4>
        </div>
      </div>
      <h3>Professeur</h3>
      <div class="card card-profile">
        <div class="card-avatar">
          <a href="javascript:;">
            <img class="img" src="../assets/img/faces/{{photoProfesseur}}" />
          </a>
        </div>
        <div class="card-body">
          <h6 class="card-category text-gray">{{professeur}}</h6>
          <h4 class="card-title">Professeur de {{nomMatiere}}</h4>
        </div>
      </div>
    </div>
  </div>