<h2>Aide</h2>
<hr>
<br/>
<p>Pour réaliser l'application, des bouts de code et des aides ont été pris pour:</p>
<ul>
    <li>Le <i>template</i> : <br/><a href="https://demos.creative-tim.com/material-dashboard/examples/dashboard.html">https://demos.creative-tim.com/material-dashboard/examples/dashboard.html</a></li><br/>
    <li>L'utilisation des <i>components</i> angular : <br/><a href="https://material.angular.io/components/categories">https://material.angular.io/components/categories</a></li><br/>
    <li>Le JSON Web Token <i>(JWT)</i> : <br/><a href="https://www.youtube.com/watch?v=xBYr9DxDqyU">https://www.youtube.com/watch?v=xBYr9DxDqyU</a></li><br/>
    <li>La fonction de hachage <i>Bcrypt</i> : <br/><a href="https://www.codota.com/code/javascript/functions/bcrypt/compare">https://www.codota.com/code/javascript/functions/bcrypt/compare</a></li><br/>
    <li>Le <i>bar chart</i> : <br/><a href="https://www.youtube.com/watch?v=N1kbXS4tjMw">https://www.youtube.com/watch?v=N1kbXS4tjMw</a></li><br/>
    <li>L'utilisation de <i>aggregate()</i> dans mongodb : <br/><a href="https://docs.mongodb.com/manual/reference/method/db.collection.aggregate/">https://docs.mongodb.com/manual/reference/method/db.collection.aggregate/</a></li><br/>
    <li>L'utilisation de <i>$or</i> dans mongodb : <br/><a href="https://docs.mongodb.com/manual/reference/operator/query/or/">https://docs.mongodb.com/manual/reference/operator/query/or/</a></li><br/>
    <li>Les <i>images gratuites et libres</i> des élèves : <br/><a href="https://fr.freepik.com/photos-gratuite/personne-portrait_602994.htm">https://fr.freepik.com/photos-gratuite/personne-portrait_602994.htm</a></li><br/>
    <li>Les <i>images des professeurs</i> : <br/><a href="https://www.google.com">Google</a> et <a href="https://fr.linkedin.com">LinkedIn</a></li><br/>
    <li>La génération de <i>noms aléatoires</i> : <br/><a href="https://fr.fantasynamegenerators.com/noms-fran%C3%A7ais.php">https://fr.fantasynamegenerators.com/noms-fran%C3%A7ais.php</a></li>
</ul>
