<h2>Aide</h2>
<hr>
<br/>
<p>Pour réaliser l'application, des bouts de code et des aides ont été pris pour:</p>
<ul>
    <li>Le template: <br/><a href="https://demos.creative-tim.com/material-dashboard/examples/dashboard.html">https://demos.creative-tim.com/material-dashboard/examples/dashboard.html</a></li>
    <li>Les images gratuites et libres des élèves: <br/><a href="https://fr.freepik.com/photos-gratuite/personne-portrait_602994.htm">https://fr.freepik.com/photos-gratuite/personne-portrait_602994.htm</a></li>
    <li>Les images des professeurs: <br/><a href="https://www.google.com">Google</a> et <a href="https://fr.linkedin.com">LinkedIn</a></li>
    <li>La génération de noms aléatoires: <br/><a href="https://fr.fantasynamegenerators.com/noms-fran%C3%A7ais.php">https://fr.fantasynamegenerators.com/noms-fran%C3%A7ais.php</a></li>
    <li>L'utilisation des components angular: <br/><a href="https://material.angular.io/components/categories">https://material.angular.io/components/categories</a></li>
</ul>
