<h2>Listes des élèves</h2>
<hr>
<br/>
<div class="align-center">
  <mat-spinner *ngIf="resourcesLoaded"></mat-spinner>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-6" *ngFor="let eleve of eleves; let iteration = index">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image" style="background-image: url('../../assets/img/faces/{{ eleve.photo }}');"></div>
          <mat-card-title> {{ eleve.nom }}</mat-card-title>
          <mat-card-subtitle>{{ eleve.mail }}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="../../assets/img/faces/{{ eleve.photoGF }}" alt="Photo de l'élève" width="425">
        <mat-card-content>
          <p>Date de naissance: {{ eleve.dateNaissance | date }}</p>
          <p>Nombre de devoir rendu: {{ nbDevoirsRendus[iteration] }}</p>
          <p>Moyenne générale: {{ moyennesEleve[iteration] | number : '1.2-2' }}</p>
        </mat-card-content>
      </mat-card>
      <br/><br/>
    </div>
  </div>
</div>