<h2>Liste des matières</h2>
<hr>
<br/>
<div class="align-center">
  <mat-spinner *ngIf="resourcesLoaded"></mat-spinner>
</div>
<div *ngFor="let matiere of matieres">
    <div class="row">
        <div class="col-lg-10 col-md-12">
          <div class="card">
            <div class="card-header card-header-tabs card-header-primary">
              <div class="nav-tabs-navigation">
                <div class="nav-tabs-wrapper">
                    <h4 class="card-title">Matière:</h4>
                    <p class="card-category">{{ matiere.nom }}</p>
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="tab-content">
                <div class="tab-pane active" id="profile">
                    <img mat-card-image src="../../assets/img/matiere/{{ matiere.photoMatiere}}" alt="Photo de la matière" width="100 !important">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-md-12">
          <div class="card">
            <div class="card-header card-header-warning">
              <h4 class="card-title">Professeur:</h4>
              <p class="card-category">{{ matiere.professeur }}</p>
            </div>
            <div class="card-body table-responsive">
              <img mat-card-image src="../../assets/img/faces/{{ matiere.photoProfesseur }}" alt="Photo du professeur" width="100">
            </div>
          </div>
        </div>
    </div>
    <mat-divider></mat-divider>
</div>